<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="ChoiceAppEntities" connectionString="metadata=res://*/ChoiceDataModel.csdl|res://*/ChoiceDataModel.ssdl|res://*/ChoiceDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:z69vbhbm00.database.windows.net,1433;initial catalog=ChoiceTest;user id=matt.krebs@z69vbhbm00;password=Drinksonm3;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>